<% if product.errors.any? %>
    <div>
        <h2>
            <%= pluralize(product.errors.count, "erro") %>
            impediram o salvamento:
        </h2>

        <ul>
        <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>

    <div id="form" class="text-center">
        <%= form_with model: product do |f| %>

            <p>
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control w-75 m-auto" %>
            </p>

            <p>
                <%= f.label :price %>
                <%= f.number_field :price, class: "form-control w-75 m-auto" %>
            </p>

            <p>
                <%= f.label :quantity %>
                <%= f.number_field :quantity, class: "form-control w-75 m-auto" %>
            </p>

            <%= f.submit "Salvar", class: "btn btn-primary" %>
        <% end %>
    </div>

<div class="row">
    <div class="col-1 m-auto mt-5">
        <%= link_to "ver estoque", products_path, class: "btn btn-primary m-auto" %>
    </div>
</div>
