<div class="navbar bg-dark text-white d-flex justify-content-center p-4 mb-5">
    <h1> Detalhes produto </h1>
</div>


    <div class="text-center" id="show_card">
        <% if notice %>
            <p> <%= notice %> </p>
        <% end %>
            <p> <strong>Id:</strong> <%= @product.id %> </p>
            <p> <strong>Nome:</strong> <%= @product.name %> </p>
            <p> <strong>Preço:</strong> <%= @product.price %> </p>
            <p> <strong>Quantidade:</strong> <%= @product.quantity %> </p>
            <p> <strong>Criado em:</strong> <%= @product.created_at %> </p>
            <p> <strong>Atualizado em:</strong> <%= @product.updated_at %> </p>

        <%= link_to "ver estoque", products_path, class: "btn btn-primary my-2" %>
    </div>
